@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.body{
    margin:0;
    background-color: white;
}
.container{
    width: 1200px;
    height: auto;
    margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
    margin: 0%;
}
.s1{
    position: relative;
}
.s11 img{
    position: absolute;
    z-index: 1;
    margin-top: -12%;
    
}
.s12{
    padding:2%; 
    margin: 8%; 
    height:auto;
    width:auto;  
    position: absolute;
    z-index: 2;
}
.s13{
    position: absolute;
    z-index: 3;
    margin: 17% 0% 0% 71%;
    border-radius: 10px;
    width: 22%;
    position: absolute;
    z-index: 3;
    background-color: slategrey;
}
.s13 a{
    font-size: xx-large;
    color: #2b3338;
    text-decoration: none;
    background-color: transparent;
    margin-left: 3%;
}
